In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
METADATA_PATH = "../data/metadata"
DATA_PATH = "../data/dataset"

In [8]:
pd.read_csv(f"{METADATA_PATH}/metadata_Fidas_um.csv")

,diameters,bin1,bin2,bin3,bin4,bin5,bin6,bin7,bin8,bin9,...,bin69,bin70,bin71,bin72,bin73,bin74,bin75,bin76,bin77,bin78
0,Lower Channel diameters,0.100000,0.107461,0.115478,0.124094,0.133352,0.143301,0.153993,0.165482,0.177828,...,13.335215,14.330126,15.399265,16.548170,17.782795,19.109529,20.535250,22.067341,23.713737,25.482967
1,Midpoint particle diameters,0.103730,0.111469,0.119786,0.128723,0.138327,0.148647,0.159737,0.171655,0.184462,...,13.832670,14.864696,15.973718,17.165483,18.446161,19.822390,21.301296,22.890539,24.598352,26.433582
2,Upper channel diameters,0.107461,0.115478,0.124094,0.133352,0.143301,0.153993,0.165482,0.177828,0.191095,...,14.330126,15.399265,16.548170,17.782795,19.109529,20.535250,22.067341,23.713737,25.482967,27.384197

In [16]:
df = pd.read_csv(
    f"{METADATA_PATH}/metadata_sites.csv",
    encoding="latin1",
    sep=",",
    engine="python",
    on_bad_lines="warn"
)
df

/tmp/ipykernel_414114/3822447127.py:1: ParserWarning: Skipping line 33: Expected 29 fields in line 33, saw 31

  df = pd.read_csv(

,location_id,city,latitude_dd,longitude_dd,distance_to_road_m,average_hourly_traffic_intensity_number_per_h,notes,co_equipment,co_unit,co2_equipment,...,pm25_equipment,pm25_unit,pm1_equipment,pm1_unit,other_pm10_equipment,other_pm10_unit,other_pm25_equipment,other_pm25_unit,other_pm1_equipment,other_pm1_unit
0,ANT_REF_AL01,Antwerp,51.236292,4.381149,285.0,10,NaN,NaN,NaN,NaN,...,FIDAS200,µg/m³,FIDAS200,µg/m³,NaN,NaN,NaN,NaN,NaN,NaN
1,ANT_REF_M802,Antwerp,51.260973,4.424443,25.0,375,NaN,NaN,NaN,NaN,...,FIDAS200,µg/m³,FIDAS200,µg/m³,NaN,NaN,NaN,NaN,NaN,NaN
2,ANT_REF_R801,Antwerp,51.209617,4.431788,30.0,1461,NaN,APIT300,ppm,SickSidor,...,FIDAS200,µg/m³,FIDAS200,µg/m³,NaN,NaN,NaN,NaN,NaN,NaN
3,ANT_REF_R802,Antwerp,51.209441,4.431640,9.0,1461,NaN,APIT300,ppm,NaN,...,FIDAS200,µg/m³,FIDAS200,µg/m³,NaN,NaN,NaN,NaN,NaN,NaN
4,ANT_REF_R803,Antwerp,51.228644,4.428523,30.0,47,NaN,NaN,NaN,NaN,...,FIDAS200,µg/m³,FIDAS200,µg/m³,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,ZAG_URB_KVAT,Zagreb,45.815243,15.999859,20.0,Low to medium,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,ZAG_URB_REME,Zagreb,45.769912,15.946733,34.0,Low to medium,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,ZAG_RUR_SESV,Zagreb,45.821780,16.126232,60.0,low,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,ZAG_TRA_SIGE,Zagreb,45.772903,15.980557,34.0,High,Industrial site,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Ispra,Ispra,45.814690,8.635870,10.0,Absent,Semi-rural,horibaAPMA370,ppm,PicarroG2401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df = pd.read_csv(
    f"{METADATA_PATH}/metadata_sensors.csv",
    encoding="utf-8",
    sep=",",
    engine="python",
    on_bad_lines="warn"
)
df

,Supplier,Sensors,Type,Parameters,Header,Units
0,Bosh Sensortech,BMP280,Piezo-resistive,Atmospheric pressure,BMP280,hPa
1,Sensirion,SHT31,Semi-Conductor,Ambient Temperature,SHT31TE,°C
2,Sensirion,SHT31,Semi-Conductor,Ambient Relative humidity,SHT31HE,%
3,Sensirion,SHT31,Semi-Conductor,Internal Temperature,SHT31TI,°C
4,Sensirion,SHT31,Semi-Conductor,Internal Relative humidity,SHT31HI,%
5,AlphaSense,CO-A4,Electrochemical,CO,CO_A4_P1,nA
6,ELT,D-300-3V,NDIR,CO2,D300,ppm
7,AlphaSense,NO-B4,Electrochemical,NO,NO_B4_P1,nA
8,AlphaSense,NO2-B43F,Electrochemical,NO2,NO2_B43F_P1,nA
9,AlphaSense,OX-A431,Electrochemical,O3,OX_A431_P1,nA
10,AlphaSense,OPC-N3,Optical Particle Counter,PM10,OPCN3PM10,µg/m³
11,AlphaSense,OPC-N3,Optical Particle Counter,PM2.5,OPCN3PM25,µg/m³
12,AlphaSense,OPC-N3,Optical Particle Counter,PM1,OPCN3PM1,µg/m³
13,AlphaSense,OPC-N3,Optical Particle Counter,Number of particles,"OPCN3Bin0,OPCN3Bin1,OPCN3Bin2,...,OPCN3Bin23",counts/mL
14,Plantower,PMS5003,Nephelometer,PM10,"5310CAT,5310CST",µg/m³
15,Plantower,PMS5003,Nephelometer,PM2.5,"5325CAT,5325CST",µg/m³
16,Plantower,PMS5003,Nephelometer,PM1,"5301CAT,5301CST",µg/m³
17,Plantower,PMS5003,Nephelometer,Number of particles,"53PT003,53PT005,53PT010,53PT025,53PT050,53PT100",counts/0.1L

In [7]:
df_sensor = pd.read_csv(
    f"{DATA_PATH}/Zagreb_652FA1.csv",
    encoding="utf-8",
    sep=",",
    engine="python",
    on_bad_lines="warn"
)
df_sensor

,date,latitude,longitude,altitude,Location.ID,BMP280,SHT31HE,SHT31TE,Absolute_humidity,Td_deficit,...,SHT31TE_flag,SHT31TI_flag,Ref.Long,Ref.Lat,Ref.CO_ppm,Ref.NO,Ref.NO2,Ref.O3,Ref.PM10,Ref.PM2.5
0,2020-05-21T10:13:00Z,NaN,NaN,NaN,ZAG_REF_IMI,1003.468750,37.437247,22.699512,NaN,NaN,...,W,W,15.9778,45.8353,0.105516,0.831664,1.151110,48.323902,14.347747,7.6
1,2020-05-21T10:14:00Z,NaN,NaN,NaN,ZAG_REF_IMI,1003.375000,38.422217,22.153429,NaN,NaN,...,W,W,15.9778,45.8353,0.105516,0.831664,1.151110,48.323902,14.347747,7.6
2,2020-05-21T10:15:00Z,NaN,NaN,NaN,ZAG_REF_IMI,1003.583333,37.616541,22.345693,NaN,NaN,...,W,W,15.9778,45.8353,0.105516,0.831664,1.151110,48.323902,14.347747,7.6
3,2020-05-21T10:16:00Z,45.835230,15.978507,178.700000,ZAG_REF_IMI,1003.520833,37.302205,22.377737,NaN,NaN,...,W,W,15.9778,45.8353,0.111528,1.088336,1.403335,48.055122,14.347747,7.6
4,2020-05-21T10:17:00Z,45.835180,15.978392,157.516667,ZAG_REF_IMI,1003.500000,36.083009,23.544671,NaN,NaN,...,W,W,15.9778,45.8353,0.111528,1.088336,1.403335,48.055122,14.347747,7.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471856,2021-04-14T07:10:00Z,45.835382,15.978275,174.200000,ZAG_REF_IMI,1004.583333,60.825513,9.338521,5.478275,7.254801,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471857,2021-04-14T07:11:00Z,45.835382,15.978275,174.200000,ZAG_REF_IMI,1004.541667,58.992905,9.357214,5.319557,7.687736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471858,2021-04-14T07:12:00Z,45.835382,15.978276,174.200000,ZAG_REF_IMI,1004.541667,58.399329,9.373236,5.271414,7.831090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471859,2021-04-14T07:13:00Z,45.835382,15.978277,174.162500,ZAG_REF_IMI,1004.562500,59.127184,9.402609,5.347116,7.658290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471860,2021-04-14T07:14:00Z,45.835382,15.978277,174.100000,ZAG_REF_IMI,1004.604167,59.421683,9.437324,5.385649,7.590179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_sensor.columns

Index(['date', 'latitude', 'longitude', 'altitude', 'Location.ID', 'BMP280',
       'SHT31HE', 'SHT31TE', 'Absolute_humidity', 'Td_deficit', 'SHT31HI',
       'SHT31TI', 'CO_A4_P1', 'D300', 'NO_B4_P1', 'NO2_B43F_P1', 'OX_A431_P1',
       '5301CAT', '5301CST', '5325CAT', '5325CST', '5310CAT', '5310CST',
       '53PT003', '53PT005', '53PT010', '53PT025', '53PT050', '53PT100',
       'OPCN3PM1', 'OPCN3PM25', 'OPCN3PM10', 'OPCN3Bin0', 'OPCN3Bin1',
       'OPCN3Bin2', 'OPCN3Bin3', 'OPCN3Bin4', 'OPCN3Bin5', 'OPCN3Bin6',
       'OPCN3Bin7', 'OPCN3Bin8', 'OPCN3Bin9', 'OPCN3Bin10', 'OPCN3Bin11',
       'OPCN3Bin12', 'OPCN3Bin13', 'OPCN3Bin14', 'OPCN3Bin15', 'OPCN3Bin16',
       'OPCN3Bin17', 'OPCN3Bin18', 'OPCN3Bin19', 'OPCN3Bin20', 'OPCN3Bin21',
       'OPCN3Bin22', 'OPCN3Bin23', 'OPCN3Hum', 'OPCN3Temp', 'OPCN3Vol',
       'CO_A4_P1_flag', 'D300_flag', 'NO_B4_P1_flag', 'NO2_B43F_P1_flag',
       'OX_A431_P1_flag', '5301CAT_flag', '5301CST_flag', 'OPCN3PM1_flag',
       '5310CAT_flag', '5310CST_flag', 'OPCN3PM10_flag', '5325CAT_flag',
       '5325CST_flag', 'OPCN3PM25_flag', 'BMP280_flag', 'SHT31HE_flag',
       'SHT31HI_flag', 'SHT31TE_flag', 'SHT31TI_flag', 'Ref.Long', 'Ref.Lat',
       'Ref.CO_ppm', 'Ref.NO', 'Ref.NO2', 'Ref.O3', 'Ref.PM10', 'Ref.PM2.5'],
      dtype='object')

In [5]:
#data/dataset/ANT_REF_R801_Fidas_UTC.csv
df = pd.read_csv(
    f"{DATA_PATH}/ANT_REF_R801_Fidas_UTC.csv",
    encoding="utf-8",
    sep=",",
    engine="python",
    on_bad_lines="warn"
)
df

,date,bin1,bin2,bin3,bin4,bin5,bin6,bin7,bin8,bin9,...,bin69,bin70,bin71,bin72,bin73,bin74,bin75,bin76,bin77,bin78
0,2020-04-01T00:02:00Z,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,5.040066,22.324123,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-04-01T00:03:00Z,0.0,0.0,0.0,0.0,0.0,0.0,0.045813,5.173788,22.532688,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-04-01T00:04:00Z,0.0,0.0,0.0,0.0,0.0,0.0,0.065852,5.060269,21.045473,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-04-01T00:05:00Z,0.0,0.0,0.0,0.0,0.0,0.0,0.006444,5.416049,23.150160,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-04-01T00:06:00Z,0.0,0.0,0.0,0.0,0.0,0.0,0.098778,4.906627,22.127192,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532794,2021-04-05T23:56:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532795,2021-04-05T23:57:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532796,2021-04-05T23:58:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532797,2021-04-05T23:59:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532798,2021-04-06T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN